* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#body {
    background-color: #E0ECF8DA;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

#body h1 {
    padding-top: 120px;
    padding-left: 285px;
    font-family: 'Jost';
    font-size: 30px;
}

#area {
    background-color: #D8E5F1;
    width: 70%;
    height: 1650px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    align-self: center;
}

#titulo {
    padding-top: 60px;
    font-size: 25px;
}

#ctitulo {
    background-color: #E8F2FC;
    border-color: #c2c2c2da;
    width: 630px;
    height: 35px;
    font-size: 17px;
}

#categoria-duracao {
    display: flex;
    gap: 30px;
    padding-top: 60px;
}

#categoria {
    font-size: 25px;
}

#scategoria {
    background-color: #E8F2FC;
    border-color: #c2c2c2da;
    width: 300px;
    height: 35px;
    font-size: 17px;
}

#duracao {
    font-size: 25px;
}

#cduracao {
    background-color: #E8F2FC;
    border-color: #c2c2c2da;
    width: 300px;
    height: 35px;
    font-size: 17px;
}

#etaria-municipio {
    display: flex;
    gap: 30px;
    padding-top: 60px;
}

#etaria {
    font-size: 25px;
}

#setaria {
    background-color: #E8F2FC;
    border-color: #c2c2c2da;
    width: 300px;
    height: 35px;
    font-size: 17px;
}

#municipio {
    font-size: 25px;
}

#cmunicipio {
    background-color: #E8F2FC;
    border-color: #c2c2c2da;
    width: 300px;
    height: 35px;
    font-size: 17px;
}

#endereco {
    padding-top: 60px;
    font-size: 25px;
}

#cendereco {
    background-color: #E8F2FC;
    border-color: #c2c2c2da;
    width: 630px;
    height: 35px;
    font-size: 17px;
}

#modalidade-tipo {
    display: flex;
    gap: 30px;
    padding-top: 60px;
}

#modalidade {
    font-size: 25px;
}

#smodalidade {
    background-color: #E8F2FC;
    border-color: #c2c2c2da;
    width: 300px;
    height: 35px;
    font-size: 17px;
}

#tipo {
    font-size: 25px;
}

#stipo {
    background-color: #E8F2FC;
    border-color: #c2c2c2da;
    width: 300px;
    height: 35px;
    font-size: 17px;
}

#data-horario {
    display: flex;
    gap: 30px;
    padding-top: 60px;
}

#data {
    font-size: 25px;
}

#cdata {
    background-color: #E8F2FC;
    border-color: #c2c2c2da;
    width: 300px;
    height: 35px;
    font-size: 17px;
}

#horario {
    font-size: 25px;
}

#chorario {
    background-color: #E8F2FC;
    border-color: #c2c2c2da;
    width: 300px;
    height: 35px;
    font-size: 17px;
}

#texto {
    padding-top: 100px;
    font-size: 25px;
}

#atext {
    width: 630px;
    height: 450px;
    background-color: #E8F2FC;
    border-color: #c2c2c2da;
    font-size: 17px;
}

#img {
    padding-top: 60px;
    font-size: 25px;
}

#adicionar {
    display: flex;
    padding-top: 30px;
    padding-left: 500px;
    align-items: flex-end;
}

#badicionar {
    width: 170px;
    height: 50px;
    background-color: #C8EF74;
    border-radius: 7px;
}

footer{
    background-color: #2f2f2f;
    height: 200px;
}