
/* Pesquisa */

body{
    background-color: #E0ECF8;
    font-family: "Jost", sans-serif;
}
a{
    text-decoration: none;
}
#search{
    
    background-color: #C4CADA;
    width: 40vw;
    margin: auto;
    margin-top: 40px;
    padding: 20px;
    border-radius: 2px;
}

#search form{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
    justify-content: space-between;
}
h1{
    margin: 5px 0px 10px 5px;
}
.nome{
    width: 100%;
    
    display: block;

}

.nome input{
    margin-top: 10px;
    width: 85%;
    height: 28px;
    border: 2px solid #A0A0AB;
    border-radius: 2px;
    box-shadow: none;
    outline: none;
    
}

.nome input:focus{
    box-shadow: none;
    border-color: aqua;
}

.search-btn{
    background-color: white;
    border: none;
    position: relative;
    right: 35px;
    top: 6px;
   
}

.search-btn:hover{
    cursor: pointer;
}
select{
    margin-top: 5px;
    width: 150px;
    height: 25px;
    border: 2px solid #A0A0AB;
    border-radius: 2px;
}

.data input{
    margin-top: 5px;
    height: 25px;
    width: 150px;
    border: 2px solid #A0A0AB;
    border-radius: 2px;
}

#message{
    text-align: center;
    margin-top: 100px;
    display: none;
}

/* Eventos */

#eventos{
    margin: auto;
    margin-top: 50px;
    width: 75vw;
    margin-bottom: 200px;
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
    
    
}

.evento img{
    border-radius: 8px 8px 0px 0px;
    width: 334px;
    height: 152px;
}
article{
    background-color: #C4CADA;
    height: 280px;
    border-radius: 8px 8px 3px 3px;
    font-family:Arial, Helvetica, sans-serif;
}
.titulo{
    background-color: #1D1B1B;
    color: #E0ECF8;
    padding: 8px;
    text-align: center;
    
}

.localizacao{
    display: flex;
    justify-content:left;
    align-items: center;
    gap: 10px;
    width: 95%;
    margin: 10px 0px 0px 10px;

}
.circle{
    background-color: black;
    width: 5px;
    height: 5px;
    border-radius: 100%;

}
.about{
    margin: 2px 0px 0px 10px;
    height: 60px;
}
.data{
    font-size: 0.9em;
    
}

.categoria{
   
    font-size: 0.8em;
    color: #3e0577;
    font-weight: bold;
    margin-top: 22px;
    
}

.detalhes{
    background-color: #FDFAF8;
    color: #514A4A;
    border: 2px solid #514A4A;
    border-right: 0;
    border-bottom: 0;
    border-radius: 8px 0px 0px 0px;
    padding: 8px;
    height: 50%;
    align-self: flex-end;
    font-size: 0.9em;
}

.detalhes:hover{
    background-color: #514A4A;
    color: #FDFAF8;
}
.infoBottom{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}
footer{
    background-color: #2f2f2f;
    height: 200px;
}