
/* Pesquisa */

body{
    background-color: #E0ECF8;
}
#search{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #C4CADA;
    width: 40vw;
    margin: auto;
    margin-top: 40px;
    padding: 20px;
    border-radius: 2px;
}

#search form{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 35vw;
    justify-content: space-around;
}
h1{
    margin: 5px 0px 10px 5px;
}
.nome{
    width: 100%;

}

.nome input{
    margin-top: 10px;
    width: 100%;
    height: 25px;
    border: 2px solid #A0A0AB;
    border-radius: 2px;
   
    
}

select{
    margin-top: 5px;
    width: 150px;
    height: 25px;
    border: 2px solid #A0A0AB;
    border-radius: 2px;
}

.data input{
    margin-top: 5px;
    height: 25px;
    width: 150px;
    border: 2px solid #A0A0AB;
    border-radius: 2px;
}

/* Eventos */

#eventos{
    margin: auto;
    margin-top: 50px;
    width: 75vw;
    margin-bottom: 200px;
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
    
    
}

article{
    background-color: #C4CADA;
    height: 280px;
    border-radius: 8px 8px 3px 3px;
    font-family:Arial, Helvetica, sans-serif;
}
.titulo{
    background-color: #1D1B1B;
    color: #E0ECF8;
    padding: 8px;
    text-align: center;
    
}

.localizacao{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    margin: 10px 0px 0px 10px;

}
.circle{
    background-color: black;
    width: 5px;
    height: 5px;
    border-radius: 100%;
}
.about{
    margin: 2px 0px 0px 10px;
    height: 60px;
}
.data{
    font-size: 0.9em;
    
}

.categoria{
    font-size: 0.8em;
    color: #3e0577;
    font-weight: bold;
    margin-top: 22px;
    
}

.detalhes{
    background-color: #FDFAF8;
    color: #514A4A;
    border: 2px solid #514A4A;
    border-right: 0;
    border-bottom: 0;
    border-radius: 8px 0px 0px 0px;
    text-decoration: none;
    padding: 8px;
    height: 50%;
    align-self: flex-end;
    font-size: 0.9em;
}
.infoBottom{
    display: flex;
    justify-content: space-between;
}
footer{
    background-color: #2f2f2f;
    height: 200px;
}