* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#capa {
  width: 100%;
}

header {
  display: flex;
  flex-direction: column;
}

#menu {
  background-color: #22222e;
  color: #b1bcce;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 3.8em;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 300px;
}
#menu ul li a {
  text-decoration: none;
  color: #b1bcce;
}
.item {
  
  display: flex;
  align-items: center;
    
}
ul {
  display: flex;
  list-style: none;
  gap: 20px;
  justify-content: center;
}
#legend {
  border-left: 4px solid black;
  padding: 5px;
  height: 50%;
}
#logo {
  width: 250px;
}
