*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#capa{
    width: 100%;
}

nav{
    background-color: #22222E;
    color: #B1BCCE;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    height: 3.8em;
    font-size: 1.2em;

}
nav ul li a{
    
    text-decoration: none;
    color: #B1BCCE;
}
ul{
    display: flex;
    list-style: none;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    width: 35%;
    position: absolute;
    left: 65vw;
    top: 220px;

}
header nav p{
    display: inline;
    border-left: 4px solid black ;
    padding:5px;
    position: relative;
    bottom: 22px;
    
}
#logo{
    width: 250px;
    
}

